body {
     background-color:  #BDC4A7;
}
.corps1 {
    width: 900px;
    height: 600px;
    border-radius: 5%;
    display: flex;
    flex-direction: row;
    margin: auto;
    /* background-color: #3F7CAC; */
}
.section1 {
   width: 350px;
   height: 600px;
   background-color: #3F7CAC;
   /* border-radius: 5%; */
}
.section2 {
    width: 550px;
    height: 600px;
    background-color: #95AFBA;
    display: flex;
    flex-direction: column;
}
.texte1 {
    margin-left: 130px;
    margin-top: 100px;
    color: white;
}
.input-text {
    background-color: #BDC4A7;
    width: 200px;
}
 .form-group {
     padding: 10px; 
} 
.section4 {
    display: flex;
    flex-direction: row;

}
.sec {
    width: auto;
    height: auto;
    margin: auto;
}
.section5 {
    /* width: 100px; */
    /* height: 50px; */
    margin-top: 20px;
    /* text-align: center; */
    /* background-color: #3F7CAC; */
    margin-left: auto;
    margin-right: auto;
    border-radius: 10%;
}
.section6 {
    width: 300px;
    height: 200px;
    /* background-color: bisque; */
    margin: auto;
}
.section7 {
    margin-left: 25px;
}
.titre1 {
    margin-top: 20px;
    margin-left: 30px;
    color: white;
}
.images1 {
    width: 200px;
    height: 150px;
   
    margin: auto;
}